body {
    margin: 0px;
}

.navigation {
    display: flex;
    flex-direction: row;
    background-color: bisque;
    height: 50px; 
    align-items: center; 
    padding: 0 10px; 
}


.logo{
    display: flex;  
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.Navi {
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 0 15px;
    text-decoration: none;
    color: black; 
    margin: 0 5px; 
    height: 30px; 
    border-radius: 5px; 
}

.profile{
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: auto auto auto auto; 
    padding: 0 15px; 
    background-color: #c08686; 
    border: 1px solid #f79090;
    max-width: 200px; 
    max-height: 200px;
    
}

.title, .location, .dob {
    font-size: 16px; 
    color: #555; 
    margin: 0; 
}

